/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Trapecho theme's style
*/


/* Body and structure
-------------------------------------------------- */
body {
  line-height: 22px;
  position: relative;
  padding-top: 20px;
  background-color: #fff;
  background-image: url(img/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-attachment:fixed;
}

body, p {
  font-family: "Microsoft YaHei","STHeiti","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  color:#555;
}

a:hover {
  color:#888;
}

.page-header {
  padding-bottom: 5px;
}

.page-header h1 {
  margin-bottom: 5px;
}

.page-header h6 {
  font-weight: normal;
}

.post {
  word-wrap:break-word; 
  overflow:hidden;
  margin-bottom:8px;
}

.entry-content {
  margin-bottom: 5px;
}

.label a {
  color:#fff;
}

#sidebar {
  margin-top: 18px;
}

/* Comment list styles
-------------------------------------------------- */
.comment-list li {
  min-height: 20px;
  padding: 19px;
  margin: 8px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.comment-list{
  list-style-type: none;
}

.comment-list .comment-author {  
  float:right;
}

.comment-list .comment-meta {
    
}

.comment-list .comment-level-odd {
  background-color: #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar .brand:hover {
  text-decoration: none;
  color: #111;
}
.navbar .container {
  width: auto;
}


/* Space out sub-sections more
-------------------------------------------------- */
section {
  padding-top: 60px;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 27px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  border: 0;
}


/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 54px;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}

/* Fixed navbar-fixed-top on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .navbar-fixed-top .container {
    width: 940px;
  }
}

/* Footer
-------------------------------------------------- */
footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
footer p {
  text-align:center;
  margin-bottom: 0;
  color: #555;
}

/* Remove bottom margin on example forms in wells */
form.well {
  padding: 14px;
}

/* Tighten up spacing */
.well hr {
  margin: 18px 0;
}

/* Fake the :focus state to demo it */
.focused {
  border-color: rgba(82,168,236,.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
     -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
  outline: 0;
}

/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {

  /* Reduce padding above jumbotron */
  body {
    padding-top: 10px;
  }

  /* Change up some type stuff */
  h2 {
    margin-top: 27px;
  }
  h2 small {
    display: block;
    line-height: 18px;
  }
  h3 {
    margin-top: 18px;
  }

  /* Adjust the jumbotron */
  .jumbotron h1,
  .jumbotron p {
    text-align: center;
    margin-right: 0;
  }
  .jumbotron h1 {
    font-size: 38px;
    margin-right: 0;
  }
  .jumbotron p {
    margin-right: 0;
    margin-left: 0;
    font-size: 18px;
    line-height: 24px;
  }

}


@media (max-width: 768px) {

  /* Remove any padding from the body */
  body {
    padding-top: 15px;
  }

  /* Unfloat the back to top link in footer */
  .footer .pull-right {
    float: none;
  }
  .footer p {
    margin-bottom: 9px;
  }

}


@media (min-width: 480px) and (max-width: 768px) {

  /* Scale down the jumbotron content */
  .jumbotron h1 {
    font-size: 45px;
  }
  .jumbotron p {
    margin-right: 0;
    margin-left: 0;
  }

}


@media (min-width: 768px) and (max-width: 980px) {

  /* Remove any padding from the body */
  body {
    padding-top: 15px;
  }

  /* Scale down the jumbotron content */
  .jumbotron h1 {
    font-size: 54px;
  }

}


@media (max-width: 980px) {

  /* Unfloat brand */
  .navbar .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

}


/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

  /* Update navbar-fixed-top container */
  .navbar-fixed-top .container {
    width: 1170px; 
  }

}

